
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
  	<legend><h2>Sign in</h2></legend>
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    
    <% if devise_mapping.rememberable? -%>
    	<div><%= f.input :remember_me, as: :boolean, input_html: { id: 'inline-checkbox' }, :wrapper => :inline_checkbox %></div>
    <% end -%>


  <div class="form-group">
    <%= f.button :submit, "Sign in" %>
  </div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
